<h1>Edit Question</h1>

<!-- <%#= @q.errors.full_messages.join(", ") %>
<%# Rails automatically adds a hidden field with name '_method' to this form with its value being 'patch' to mimic having the form submit a 'patch' action (because froms only allow GET or POST).
Rails know to make this from use PATCH because @q is persisted (has an id from the daatabse) %>
<%#= form_for @q do |f| %>
  <div>
    <%#= f.label :title %>
    <%#= f.text_field :title %>
  </div>
  <div>
    <%#= f.label :body %>
    <%#= f.text_area :body %>
  </div>
  <%#= f.submit %>
<#% end %> -->

<%= render "form" %>
