<h1>Team Randomizer</h1>
<form method="post" action="/">
  <div>
    <label for="team-name">Names: </label>
    <textarea id="team-name" name="team_names"></textarea>
  </div>
  <div>
    <label for="team-number">Number of teams: </label>
    <input type="text" name="number_of_teams"> </input>
  <br>
  <input type="submit" value="Submit">
</form>
<!--

<h1>Thank you for using Team Randomizer</h1>
<h2>We have received the follwing info: </h2> -->
