<h1>Team Randomizer</h1>
<form method="post" action="/">
  <div>
    <label for="team-name">Names: </label>
    <textarea id="team-name" name="team_names"></textarea>
  </div>
  <div>
    <label for="team-number">Number of teams: </label>
    <input type="text" name="number_of_teams"> </input>
  <br>
  <input type="submit" value="Submit">
</form>

<hr>


<div>
<% if (@team_names && @team_number) %>
  <% if (@check_array.count < @team_number) %>
    <h1>Number of teams cannot be bigger than number of Names. Please try it again</h1>

  <% else %>
    <% if (@team_names == "")%>
      <h1> Names are not entered properly. Please try it again. </h1>
    <% end %>
    <% if (@team_number == 0 || @team_number == nil ) %>
      <h1> Number of teams is not entered properly. Please try it again. </h1>
    <% elsif (@team_number < 0)%>
      <h1> Number of teams should be bigger than Zero. Please try it again. </h1>
    <% elsif (@team_number.is_a?(Integer) != true) %>
      <h1> Number of teams is not an integer. Please try it again.</h1>
    <% end %>
    <%(1..@team_number).each do |num| %>
      <p>
      <%= "Team" %>
      <%= num %>:
      </p>
      <p>
      <%= @teams[num-1] %>
      </p>
      <% end %>
  <% end %>
<% end %>
</div>
