<h1>Thank you for contacting us</h1>
<h2>We have received the follwing info: </h2>
  <dev>
    <p>Name: <%= @params["full_name"] %></p>
    <p>Email: <%= @params["email"] %></p>
    <p>Message: <%= @params["message"] %></p>
  </dev>
