<h1>Team Randomizer</h1>
<form method="post" action="/">
  <div>
    <label for="team-name">Names: </label>
    <textarea id="team-name" name="team_names"></textarea>
  </div>
  <div>
    <label for="team-number">Number of teams: </label>
    <input type="text" name="number_of_teams"> </input>
  <br>
  <input type="submit" value="Submit">
</form>

<hr>
<div>
  <% if (@team_names && @team_number) %>
    <% (1..@team_number).each do |num| %>
    <p>Team
      <%= num %>
      :
    </p>
      <%= @teams[num-1]  %>
      <br>
      <% end %>
    <% end %>
</div>
